wp-admin/
wp-content/ai1wm-backups/
wp-content/uploads/
wp-content/cache/
wp-content/upgrade/
wp-content/themes/twenty*
wp-includes/
Old_27/
cgi-bin/
video/
rush/
equipment/
house/
photos/
error_log
/*.php
/*.txt
/*.html
/*.yml
*.zip

mysql/